// global colors
$black-bg: rgba(0, 0, 0, 0.595);
$glass-bg: rgba(0, 0, 0, 0);
$glass-bg-2: rgba(0, 0, 0, 0.446);
$white: #ffffff;
$black: #000000;

//anchors
$soft-anchor-color: rgb(92, 147, 255);

// measures
$xl: 1920px; // FHD Resolution
$lg: 1600px; // Desktop monitor
$md: 1366px; // Laptop
$sm: 900px; // Tablet
$xs: 500px; // Cell phone