*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  font-family: Urbanist;
}
span {
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  color: white;
  white-space: nowrap;
  padding: 20px;
  background: -moz-linear-gradient(left,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0%, rgba(0, 0, 0, 0.65)),
      color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
}
img {
  width: 80vw;
  height: auto;
  object-fit: cover;
  /*object-fit: scale-down;*/
}

.galerie {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  list-style: none;
  width: 75vw;
  height: 450px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 1px 1px 3px 1px;
}

.galerieItem {
  position: relative;
  width: 15vw;
  height: 450px;
  float: left;
  border-left: 1px solid #000000;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  box-shadow: -2px 0 10px 2px;
  opacity: 85%;
  /*object-fit: cover;*/
  /*mix-blend-mode: multiply;*/
}

.galerie .galerieItem:first-child {
  border: none;
}



.galerie:hover .galerieItem {
  width: 10vw;
}

.galerie .galerieItem:hover {
  width: 35vw;
  opacity: 100%;
  mix-blend-mode: normal;
  flex-grow: 2;
  

}

body .vp-center {
  justify-content: center;
}

/*@media (max-width: 1600px) {
  .galerieItem {
    width: 15vw;
  }

  .galerie .galerieItem:hover {
    width: 32vw;
  }
}

@media (max-width: 1366px) {
  .galerieItem {
    width: 15vw;
  }

  .galerie .galerieItem:hover {
    width: 32vw;
  }
}*/