@import "../../sass/main.scss";

.footer {
  background-color: $black-bg;
  position: fixed;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2px;
  padding-bottom: 0;
  cursor: pointer;


  &--collapsed {
    transition: min-height 0.3s ease-out;
    min-height: 0;
    height: 20px;
  }

  &--expanded {
    transition: min-height 0.3s ease-out;
    min-height: 92vh;
    background-color: #000000DD;
  }

  &__date {
    align-self: center;
    text-align: center;
  }
}

.contact {
  &__title {
    margin: 10px 0;
  }
}

.slider-card {
  display: flex;
  justify-content: center;
  width: 500px;

  &__text {
    color: $white;
    margin: 5px 0;
    text-align: center;
  }
}

.partners {
  &__container {
    margin: 0 auto;
    min-height: 100%;
    max-width: 80%;
  }

  &__title {
    margin: 20px 0;
  }

  &__content {
    display: flex;
    justify-content: center;
  }
}
